build:debian:
  image: gcc:latest
  stage: build
  script:
    - echo 'echo $K8S_SECRET_GITLAB_TOKEN' > $HOME/.git-askpass && chmod +x $HOME/.git-askpass
    - export GIT_ASKPASS=$HOME/.git-askpass
    - git config --global url."https://api@git.thm.de/".insteadOf "https://git.thm.de/"
    - git config --global url."https://ssh@git.thm.de/".insteadOf "ssh://git@git.thm.de/"
    - git config --global url."https://git@git.thm.de/".insteadOf "git@git.thm.de:"
    - apt-get update
    - apt-get install --yes gfortran-8 build-essential tar curl zip unzip python3-pip doxygen graphviz
    - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-8 1
    - apt-get install --yes libopencv-dev
    - python3 -m pip install meson ninja
    - python3 -m pip install glad
    - mkdir build && cd build
    - meson setup ..
    - meson compile
    - meson test
    - cd ..
    
wiki:
  image: gcc:latest
  stage: deploy
  script:
    - sudo apt-get install --yes doxygen graphviz wget unzip
    - wget https://github.com/matusnovak/doxybook2/releases/download/v1.2.3/doxybook2-linux-amd64-v1.2.3.zip
    - unzip doxybook2-linux-amd64-v1.2.3.zip -d doxybook
    - doxygen
    - git clone git@git.thm.de:bahn-simulator/libtrainsim.wiki.git doc/md
    - ./doxybook/bin/doxybook2 -i doc/xml -o doc/md
    - cd doc/md
    - git add .
    - git commit -m "updated docs"
    - git push -f

pages:
  image: alpine
  stage: deploy
  script:
    - apk update && apk add doxygen
    - doxygen Doxyfile
    - mv doc/html/ public/
  artifacts:
    paths:
      - public
  only:
    - main
